<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group>
                    <mat-tab label="Biệt thự">
                        <re-villa-sale-list></re-villa-sale-list>
                    </mat-tab>
                    <mat-tab label="Căn hộ">
                        <re-apartment-sale-list></re-apartment-sale-list>
                    </mat-tab>
                    <mat-tab label="Đất nền">
                        <re-plot-sale-list></re-plot-sale-list>
                    </mat-tab>
                    <mat-tab label="Nhà phố">
                        <re-house-sale-list></re-house-sale-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>