<div class="mb-4" data-aos="fade" data-stellar-background-ratio="0.5">
    <h3>Danh mục đăng bán</h3>
    <div class="row">
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Nhà phố</h4>
                <p class="card-text"></p>
                <a routerLink="/create/house-sale" class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Đất nền</h4>
                <p class="card-text"></p>
                <a  routerLink="/create/plot-sale"  class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Căn hộ</h4>
                <p class="card-text"></p>
                <a routerLink="/create/apartment-sale"  class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Biệt thự</h4>
                <p class="card-text"></p>
                <a  routerLink="/create/villa-sale"  class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
    </div>
</div>
<div class="mb-4" data-aos="fade" data-stellar-background-ratio="0.5">
    <h3>Danh mục đăng cho thuê</h3>
    <div class="row">
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Nhà phố</h4>
                <p class="card-text"></p>
                <a routerLink="/create/house-rent" class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Đất nền</h4>
                <p class="card-text"></p>
                <a routerLink="/create/plot-rent" class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Căn hộ</h4>
                <p class="card-text"></p>
                <a routerLink="/create/apartment-rent" class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
        <div class="col-md-3 sm-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card card-body rounded-0">
                <h4 class="card-title">Biệt thự</h4>
                <p class="card-text"></p>
                <a routerLink="/create/villa-rent" class="btn btn-primary rounded-0">Thêm mới</a>
            </div>
        </div>
    </div>
</div>