<div class="signup-form">
  <form [formGroup]="signupForm" (ngSubmit)="signUp()">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <span class="error-msg" *ngIf="signupForm.hasError('email','email') && signupForm.get('email').touched">*Email is invalid</span>
      <span class="error-msg" *ngIf="signupForm.hasError('required','email') && signupForm.get('email').dirty">*Email is required</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" formControlName="password">
      <span class="error-msg" *ngIf="signupForm.hasError('required','password') && signupForm.get('password').dirty">*Password is required</span>
      <span class="error-msg" *ngIf="signupForm.hasError('minlength','password') && signupForm.get('password').touched">*Password is too short</span>
    </div>
    <div class="form-group">
      <label for="displayName">Display Name:</label>
      <input type="text" class="form-control" id="displayName" formControlName="displayName">
      <span class="error-msg" *ngIf="signupForm.hasError('minlength','displayName') && signupForm.get('displayName').touched">*Display name is too short</span>
      <span class="error-msg" *ngIf="signupForm.hasError('required','displayName') && signupForm.get('displayName').dirty">*Display name is required</span>
    </div>
    <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary">Submit</button>
  </form>
  </div>