
<footer class="site-footer">
    <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">CÔNG TY CỔ PHẦN BDS GRAGAS</h3>
              <p>
                <b>Trụ sở chính</b>: 29 Nguyễn Tri Phương
              </p>
              <p><b>Điện thoại</b>: 0234.3998.999</p>
              <p><b>Email</b>: <a href="#">gragas@gmail.com</a></p>
            </div>
          </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Đường dẫn</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="home">Trang chủ</a></li>
                <li><a href="#">Cho thuê</a></li>
                <li><a href="#">Bán</a></li>
                <li><a href="#">Dự án</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="#">Thông tin</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Điều khoản</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h3 class="footer-heading mb-4">LIÊN HỆ VỚI CHÚNG TÔI</h3>
          <p>Liên hệ ngay với chúng tôi để nhận những thông tin mới nhất về vị trí, giá cả cũng như các chính sách ưu đãi của dự án.</p>
          <div>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
              class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>