<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <mat-tab-group>
                        <mat-tab label="Biệt thự">
                            <re-villa-rent-list></re-villa-rent-list>
                        </mat-tab>
                        <mat-tab label="Căn hộ">
                            <re-apartment-rent-list></re-apartment-rent-list>
                        </mat-tab>
                        <mat-tab label="Đất nền">
                            <re-plot-rent-list></re-plot-rent-list>
                        </mat-tab>
                        <mat-tab label="Nhà phố">
                            <re-house-rent-list></re-house-rent-list>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>