
<app-big-carousel></app-big-carousel>

<!-- <app-search></app-search> -->
<div class="site-section site-section-sm bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="site-section-title">
          <h2>BDS mới cho bạn</h2>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$1,930,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$2,438,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$5,320,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_4.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$2,350,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$1,550,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="property-details.html" class="prop-entry d-block">
          <figure>
            <img src="assets/images/img_6.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$4,291,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Diện tích:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng Tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Garages:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-pagination">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <span>...</span>
          <a href="#">10</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center mb-5">
        <div class="site-section-title">
          <h2>Dịch vụ</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-house"></span>
          <h2 class="service-heading">Vùng ngoại ô</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-sold"></span>
          <h2 class="service-heading">Nhà đã bán</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-camera"></span>
          <h2 class="service-heading">Ưu tiên an ninh</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-house"></span>
          <h2 class="service-heading">Vùng ngoại ô</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-sold"></span>
          <h2 class="service-heading">Nhà đã bán</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="#" class="service text-center border rounded">
          <span class="icon flaticon-camera"></span>
          <h2 class="service-heading">Ưu tiên an ninh</h2>
          <p><span class="read-more">Xem thêm</span></p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <div class="site-section-title">
          <h2>Dự Án</h2>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
        <a href="#"><img src="assets/images/img_4.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
          <h2 class="h5 text-black mb-3"><a href="#">When To Sell &amp; How Much To Sell?</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
        <a href="#"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
          <h2 class="h5 text-black mb-3"><a href="#">When To Sell &amp; How Much To Sell?</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
        <a href="#"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
        <div class="p-4 bg-white">
          <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
          <h2 class="h5 text-black mb-3"><a href="#">When To Sell &amp; How Much To Sell?</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem veniam quae sunt.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Our Agents -->
<app-our-agents></app-our-agents>

<div class="site-section site-section-sm bg-primary">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Thông Tin Chi Tiết Các Đơn Vị Liên Kết</h2>
        <p class="lead text-white-5">Ngân Hàng Thương Mại Cổ Phần VietComBank.</p>
      </div>
      <div class="col-md-4 text-center">
        <a href="http://www.vietcombank.com.vn/" class="btn btn-outline-primary btn-block py-3 btn-lg">Nhấn Vào Đây Để Liên Hệ</a>
      </div>
    </div>
  </div>
</div>
