<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-flex">
  <a class="navbar-brand text-white">
    Chat App
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="!(user|async)?.uid">
      <a class="nav-link"  routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="!(user|async)?.uid">
      <a class="nav-link"  routerLink="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="(user|async)">Hello, {{ userEmail }}</a>
    </li>
    <li class="nav-item" *ngIf="(user|async)?.uid">
      <a class="nav-link" (click)="logout()">Log Out</a>
    </li>
  </ul>
</nav>