<div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7">
          <div class="site-section-title text-center">
            <h2>Our Agents</h2>
          </div>
        </div>
      </div>
      <div class="row block-13">
  
        <div class="nonloop-block-13 owl-carousel">  
          <app-agent name="Megan Smith" imgUrl="assets/images/person_1.jpg"></app-agent>
          <app-agent name="Brooke Cagle" imgUrl="assets/images/person_2.jpg"></app-agent>
          <app-agent name="Philip Martin" imgUrl="assets/images/person_3.jpg"></app-agent>  
          <app-agent name="Megan Smith" imgUrl="assets/images/person_1.jpg"></app-agent>
          <app-agent name="Brooke Cagle" imgUrl="assets/images/person_2.jpg"></app-agent>
          <app-agent name="Philip Martin" imgUrl="assets/images/person_3.jpg"></app-agent>  
        </div>
  
      </div>
    </div>
  </div>