<div class="container"><br>
  <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif">THAY ĐỔI THÔNG TIN BIỆT THỰ CHO THUÊ</h3>
  <form [formGroup]="villaRentForm" (ngSubmit)="onUpdateVillaRent()">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Gía</label>
        <input type="number" class="form-control" placeholder="Gía" formControlName="gia">
        <span style="font-size:14px"
          *ngIf="villaRentForm.controls.gia.touched && villaRentForm.hasError('required','gia')">
          <ul style="color: red">
            <li> Gía không được để trống</li>
          </ul>
        </span>
      </div>
   
      <div class="form-group col-md-3">
        <label>Ngày hết hạn</label>
        <input type="date" class="form-control" placeholder="Ngày hết hạn" formControlName="ngayhethan">
      </div>
      <div class="form-group col-md-3">
        <label>Hướng nhà</label>
        <input type="text" class="form-control" placeholder="Hướng nhà" formControlName="huongnha">
      </div>
      <div class="form-group col-md-3">
        <label>Thời gian thuê</label>
        <input type="text" class="form-control" placeholder="Mô tả" formControlName="thoigianthue">
      </div>
    </div>
    <div class="form-group">
      <label>Địa chỉ</label>
      <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="diachi">
      <span style="font-size:14px"
        *ngIf="villaRentForm.controls.diachi.touched && villaRentForm.hasError('required','diachi')">
        <ul style="color: red">
          <li> Địa chỉ không được để trống</li>
        </ul>
      </span>
    </div>
    <div class="form-group">
      <label>Mô tả</label>
      <input type="text" class="form-control" placeholder="Mô tả" formControlName="mota">

    </div>
    <div class="form-group">
      <label>Ảnh</label>
      <input type="file" name="file[]" class="form-control" multiple="">
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Chiều dài</label>
        <input type="number" class="form-control" placeholder="Chiều dài" formControlName="chieudai">
      </div>
      <div class="form-group col-md-2">
        <label>Chiều rộng </label>
        <input type="number" class="form-control" placeholder="Chiều rộng" formControlName="chieurong">
      </div>
      <div class="form-group col-md-2">
        <label>Diện tích</label>
        <input type="number" class="form-control" placeholder="Diện tích" formControlName="dientich">
      </div>
      <div class="form-group col-md-2">
        <label>Diện tích tổng sàn</label>
        <input type="number" class="form-control" placeholder="Diện tích tổng sàn" formControlName="dientichtongsan">
        <span style="font-size:14px"
          *ngIf="villaRentForm.controls.dientichtongsan.touched && villaRentForm.hasError('required','dientichtongsan')">
          <ul style="color: red">
            <li> Diện tích tổng sàn không được để trống</li>
          </ul>
        </span>
      </div>
      <div class="form-group col-md-2">
        <label>Garage</label>
        <select class="form-control" formControlName="garage">
          <option selected value="">Chọn</option>
          <option value="1">Có</option>
          <option value="0">Không có</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Sân vườn</label>
        <select class="form-control" formControlName="sanvuon">
          <option selected value="">Chọn</option>
          <option value="1">Có</option>
          <option value="0">Không có</option>
        </select>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Phòng tắm</label>
        <select class="form-control" formControlName="phongtam">
          <option selected value="">Chọn</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Phòng ngủ</label>
        <select formControlName="phongngu" class="form-control">
          <option selected value="">Chọn</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Số tầng</label>
        <input type="number" class="form-control" placeholder="Số tầng" formControlName="sotang">
      </div>
      <div class="form-group col-md-2">
        <label>Pháp lý</label>
        <select class="form-control" formControlName="phaply">
          <option selected value="">Chọn</option>
          <option value="sodo">Sổ đỏ</option>
          <option value="sohong">Sổ hồng</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Bể bơi</label>
        <select class="form-control" formControlName="beboi">
          <option selected value="">Chọn</option>
          <option value="1">Có</option>
          <option value="0">Không có</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Năm xây dựng</label>
        <input type="number" class="form-control" placeholder="Năm xây dựng" formControlName="namxaydung">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>